

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(13 13 13);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  color: rgb(255 255 255);
}

.Nav ul {
  display: flex;
  gap: 1.5rem;
}

.Nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav .icons {
  display: flex;
  gap: 1rem;
}






